<p style="color: green"><%= notice %></p>

<div class="main users-new">
  <div class="container">
    <div class="form-heading">Login</div>
    <div class="form users-form">
      <div class="form-body">
        <%= form_tag("/login") do %>
          <p>email</p>
          <input name="email">
          <p>テスト用：<%= User.first.email %></p>
          <p>password</p>
          <input type="password" name="password">
          <p>テスト用：password</p>
          <input type="submit" value="Login">
        <% end %>
      </div>
    </div>
  </div>
</div>